.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input {
    background-color: cornsilk;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-color: white;
    
}