.log-in {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(163, 168, 82);
    width: 100%;
    height: 350px;
}
.lab-login {
    margin-top: 10px;
    padding-bottom: 10px;
}