.profile {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-section {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start; 
    min-width: 600px;
    min-height: 400px;
    background:#ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 25px 25px 64px 25px;
    margin-top: 10px;
    border-radius: 10px;
}

.button-clear {
position: relative;
width: 150px;
height: 40px;
border-radius: 10px;
border: none;
background-color: chocolate;
}

.button-clear:hover {
    cursor: pointer; 
    background-color:gray
}