.translation {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.trans-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow;
    width: 100%;
    height: 100px;
}

.section-sign {
     display: flex;
    justify-content: flex-start;
    align-items:flex-start; 
    min-width: 500px;
    min-height: 400px;
    background:#ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 25px 25px 64px 25px;
    margin-top: 10px;
    border-radius: 10px;
}
