.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: yellow;
    width: 100%;
    height: 100px;
  
}

.img-label {
    position: relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left: 40px;
   
}
.img-navbar {
    width: 45px;
    height: 45px;
}

.buttons {
    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    margin-right: 40px;
    width: 300px;
}


.profile {
    position: relative;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.button-logout {
    height:40px;
    width: 60px;
     border-radius:10px;
    
}
 .button-logout:hover{
 background: gray;
}

.button-translate {
    height:40px;
    width: 80px;
     border-radius:10px;
}
.button-translate:hover {
    background: gray;
}


