.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 120px;
    background-color: #bbbb86;
    border-radius: 10px;
}

.input-login {
    background-color: cornsilk;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-color: white;
}