* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 5px;
}

